<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin: 50px;">
    <h1>Login result</h1>
    <hr>

    <h2><span th:text="${msg}">결과 메시지</span></h2>
    
    <!-- 세션에 있는 파라메터 띄우기 -->
    <h2><span th:text="${session.sessUname}">사용자 이름</span></h2>
    <h2><span th:text="${session.sessUid}">사용자 ID</span></h2>
</body>
</html>