<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin: 50px;">
    <h1>Member insert</h1>
    <hr>
    <form action="/sb/ex/memberProc" method="post">
        <input type="text" name="mid" placeholder="Member ID"><br>
        <input type="text" name="name" placeholder="Member Name"><br>
        <input type="text" name="age" placeholder="Member Age"><br>
        <input type="submit" value="제출">
    </form>
</body>
</html>